ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 27px;
    padding-bottom: 10px;
    overflow: hidden;
}

li {
    display: block;
    text-align: center;
    padding: 5px 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    float: right;
}

li a {
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#me {
  padding-right: 15px;
  padding-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

#foot {
  overflow: hidden;
  /*margin: 0;
  padding: 0;*/
  height: 35px;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}
